html, body{
	height: 100%;
	background: #F6F6F6;
}

iframe{
	width: 100%;
	height: 100%;
}

.apps{
	text-align: center;
}

.apps img{
	border-radius: 20px;
}

.profile-image img{
	margin: 0px;
	margin-bottom: 40px;
	border-radius: 3px;
}

/*.nav-pills{
	color: #f75d59;
}
*/
/*
.nav-pills>li.active>a{
  background-color: #f75d5 !important;
}
*/

/*.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}
*/
.nav-pills>li.active>a{
  background-color: orange !important;
}

.footer{
	text-align: center;
}